@import '~@angular/material/prebuilt-themes/indigo-pink.css';

button {
  background-color: brown;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;

  cursor: pointer;
}

button span {
  font-weight: bold;
  color: antiquewhite;
}
